
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "./_theming.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular2-multiselect-dropdown-primary: mat-palette($mat-indigo);
$angular2-multiselect-dropdown-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular2-multiselect-dropdown-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular2-multiselect-dropdown-theme: mat-light-theme($angular2-multiselect-dropdown-primary, $angular2-multiselect-dropdown-accent, $angular2-multiselect-dropdown-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular2-multiselect-dropdown-theme);


$base-color: #0079FE;
$btn-background: #fff;
$btn-border: #ccc;
$btn-text-color: #333;
$btn-arrow: #333;


$token-background: $base-color;
$token-text-color: #fff;
$token-remove-color: #fff;

$box-shadow-color: #959595;
$list-hover-background: #f5f5f5;
$label-color: #000;
$selected-background: #e9f4ff;

.c-btn{
    background: $btn-background;
    border: 1px solid $btn-border;
    color: $btn-text-color;
}
.selected-list{
    .c-list{
        .c-token{
            background: $token-background;
            .c-label{
               color: $token-text-color;
            }
            .c-remove {
                svg {
                    fill: $token-remove-color;
                }
            }

        }
    }
    .c-angle-down, .c-angle-up{
        svg {
            fill: $btn-arrow;
        }
    }
}
.dropdown-list{
    ul{
        li:hover{
            background: $list-hover-background;
        }
    }
}
.arrow-up, .arrow-down {
  border-bottom: 15px solid #fff;
}

.arrow-2{
    border-bottom: 15px solid #ccc;
}
.list-area{
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 1px 5px $box-shadow-color;
}
.select-all{
    border-bottom: 1px solid #ccc;
}
.list-filter{
    border-bottom: 1px solid #ccc;
    .c-search{
        svg {
            fill: #888;
        }
    }
    .c-clear {
        svg {
            fill: #888;
        }
    }
}

.pure-checkbox {
    input[type="checkbox"]:focus + label:before, input[type="checkbox"]:hover + label:before{
        border-color: $base-color;
        background-color: #f2f2f2;
    }
    input[type="checkbox"] + label{
        color: $label-color;
    }
    input[type="checkbox"] + label:before{
        color: $base-color;
        border: 1px solid $base-color;
    }
    input[type="checkbox"] + label:after{
        background-color: $base-color;
    }
    input[type="checkbox"]:disabled + label:before{
        border-color: #cccccc;
    }
    input[type="checkbox"]:disabled:checked + label:before{
        background-color: #cccccc;
    }
    input[type="checkbox"] + label:after{
        border-color: #ffffff;
    }
    input[type="radio"]:checked + label:before{
        background-color: white;
    }
    input[type="checkbox"]:checked + label:before{
        background: $base-color;
    }
}
.single-select-mode .pure-checkbox {
    input[type="checkbox"]:focus + label:before, input[type="checkbox"]:hover + label:before{
        border-color: $base-color;
        background-color: #f2f2f2;
    }
    input[type="checkbox"] + label{
        color: $label-color;
    }
    input[type="checkbox"] + label:before{
        color: transparent !important;
        border: 0px solid $base-color;
    }
    input[type="checkbox"] + label:after{
        background-color: transparent !important;
    }
    input[type="checkbox"]:disabled + label:before{
        border-color: #cccccc;
    }
    input[type="checkbox"]:disabled:checked + label:before{
        background-color: #cccccc;
    }
    input[type="checkbox"] + label:after{
        border-color: $base-color;
    }
    input[type="radio"]:checked + label:before{
        background-color: white;
    }
    input[type="checkbox"]:checked + label:before{
        background: none !important;
    }
}
.selected-item{
    background: $selected-background;
}
.btn-iceblue {
    background: $base-color;
    border: 1px solid $btn-border;
    color: #fff;
}
